<a href="https://colab.research.google.com/github/thanhphap059/NguyenThanhPhap19146230/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello world")

Hello world

In [ ]:
num1=input("Nhap vao so thu 1")

Nhap vao so thu 17

In [ ]:
num2=input(" Nhap vao so thu 2")

 Nhap vao so thu 23

In [ ]:
num=num1+num2

In [ ]:
print(num)

73

In [ ]:
open with ("test.txt", mode="w") as accounts

SyntaxError: ignored

In [ ]:
With open ("test.txt", mode="W") as accounts:
  accounts.Write("1 Nguyen Van A 8.03\n")
  accounts.Write("2 Le Thi B 6.83\n")

SyntaxError: ignored

In [ ]:
with open("test.txt", mode="w") as accounts:
  accounts.write("1 Nguyen Van A 8.03\n")
  accounts.write("2 Le Thi B 6.83\n")
  print("Nguyen Thi C", file=accounts)



> Văn bản được thụt lề

In [ ]:
with open("test.txt", mode="w") as accounts:
  accounts.write("1 Nguyen Van A 8.03\n")
  accounts.write("2 Le Thi B 6.83\n")
  print("Nguyen Thi C", file=accounts)

In [ ]:
from google.colab import files
uploaded= files.upload()

Saving Bangdiem.csv to Bangdiem.csv

In [ ]:
import pandas as pd
data=pd.read_csv("test.csv")
data.head(10)

FileNotFoundError: ignored

In [ ]:
import pandas as pd
data=pd.read_csv(Bangdiem.csv)
data

NameError: ignored

In [ ]:
data=pd.read_csv(url)
data

NameError: ignored

In [ ]:
data.iloc[0:100]

NameError: ignored

In [ ]:
url="http://winterolympicsmedals.com/medals.csv"
data=pd.read_csv(url)
data

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
...,...,...,...,...,...,...,...,...
2306,2006,Turin,Skiing,Snowboard,USA,Half-pipe,M,Silver
2307,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Gold
2308,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Silver
2309,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,M,Gold
2310,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,W,Silver

In [ ]:
data.iloc[0:100]

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
...,...,...,...,...,...,...,...,...
95,1932,Lake Placid,Skating,Speed skating,CAN,1500m,M,Bronze
96,1932,Lake Placid,Skating,Speed skating,CAN,1500m,M,Silver
97,1932,Lake Placid,Skating,Speed skating,CAN,5000m,M,Bronze
98,1932,Lake Placid,Skating,Speed skating,CAN,500m,M,Bronze
99,1932,Lake Placid,Skiing,Cross Country S,FIN,18km,M,Bronze

In [ ]:
data=data.set_index(data["NOC"])
data.loc["USA"]

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
NOC,,,,,,,,
USA,1924,Chamonix,Ice Hockey,Ice Hockey,USA,ice hockey,M,Silver
USA,1924,Chamonix,Skating,Figure skating,USA,individual,W,Silver
USA,1924,Chamonix,Skating,Speed skating,USA,500m,M,Gold
USA,1924,Chamonix,Skiing,Ski Jumping,USA,K90 individual (70m),M,Bronze
USA,1928,St. Moritz,Bobsleigh,Bobsleigh,USA,five-man,M,Gold
...,...,...,...,...,...,...,...,...
USA,2006,Turin,Skiing,Snowboard,USA,Half-pipe,M,Silver
USA,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Gold
USA,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Silver
USA,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,M,Gold
USA,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,W,Silver

In [ ]:
data[data["NOC"]=="CAN"].head(10)

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
NOC,,,,,,,,
CAN,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
CAN,1928,St. Moritz,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
CAN,1932,Lake Placid,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
CAN,1932,Lake Placid,Skating,Figure skating,CAN,individual,M,Bronze
CAN,1932,Lake Placid,Skating,Speed skating,CAN,10000m,M,Bronze
CAN,1932,Lake Placid,Skating,Speed skating,CAN,1500m,M,Bronze
CAN,1932,Lake Placid,Skating,Speed skating,CAN,1500m,M,Silver
CAN,1932,Lake Placid,Skating,Speed skating,CAN,5000m,M,Bronze
CAN,1932,Lake Placid,Skating,Speed skating,CAN,500m,M,Bronze
CAN,1936,Garmisch-Partenkirchen,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Silver

In [ ]:
data[(data["Year"]=="2002")&(data["NOC"]=="USA")].head(20)

Empty DataFrame
Columns: [Year, City, Sport, Discipline, NOC, Event, Event gender, Medal]
Index: []

In [ ]:
data[(data["Medal"]=="Gold")&(data["NOC"]=="FRA")].head(20)

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
NOC,,,,,,,,
FRA,1928,St. Moritz,Skating,Figure skating,FRA,pairs,X,Gold
FRA,1932,Lake Placid,Skating,Figure skating,FRA,pairs,X,Gold
FRA,1948,St. Moritz,Skiing,Alpine Skiing,FRA,alpine combined,M,Gold
FRA,1948,St. Moritz,Skiing,Alpine Skiing,FRA,downhill,M,Gold
FRA,1960,Squaw Valley,Skiing,Alpine Skiing,FRA,downhill,M,Gold
FRA,1964,Innsbruck,Skiing,Alpine Skiing,FRA,giant slalom,M,Gold
FRA,1964,Innsbruck,Skiing,Alpine Skiing,FRA,giant slalom,W,Gold
FRA,1964,Innsbruck,Skiing,Alpine Skiing,FRA,slalom,W,Gold
FRA,1968,Grenoble,Skiing,Alpine Skiing,FRA,downhill,M,Gold
FRA,1968,Grenoble,Skiing,Alpine Skiing,FRA,giant slalom,M,Gold
FRA,1968,Grenoble,Skiing,Alpine Skiing,FRA,slalom,M,Gold
FRA,1968,Grenoble,Skiing,Alpine Skiing,FRA,slalom,W,Gold
FRA,1988,Calgary,Skiing,Alpine Skiing,FRA,super-G,M,Gold
FRA,1992,Albertville,Biathlon,Biathlon,FRA,3x7.5km relay,W,Gold
FRA,1992,Albertville,Skiing,Freestyle Ski.,FRA,moguls,M,Gold
FRA,1992,Albertville,Skiing,Nordic Combined,FRA,individual,M,Gold
FRA,1998,Nagano,Skiing,Alpine Skiing,FRA,downhill,M,Gold
FRA,1998,Nagano,Skiing,Snowboard,FRA,giant-slalom,W,Gold
FRA,2002,Salt Lake City,Skating,Figure skating,FRA,ice dancing,X,Gold
FRA,2002,Salt Lake City,Skiing,Alpine Skiing,FRA,downhill,W,Gold

In [ ]:
data["NOC"].value_counts()

NOR    280
USA    216
URS    194
AUT    185
GER    158
FIN    151
CAN    119
SUI    118
SWE    118
GDR    110
ITA    101
FRA     83
NED     78
RUS     76
FRG     41
CHN     33
JPN     32
KOR     31
TCH     25
EUN     23
GBR     21
EUA     19
CZE     10
LIE      9
POL      8
CRO      7
BUL      6
EST      6
AUS      6
BLR      6
HUN      6
UKR      5
BEL      5
KAZ      5
YUG      4
SLO      4
ESP      2
PRK      2
LUX      2
LAT      1
ROU      1
DEN      1
UZB      1
NZL      1
SVK      1
Name: NOC, dtype: int64

In [ ]:
data["NOC"].unique()

array(['AUT', 'BEL', 'CAN', 'FIN', 'FRA', 'GBR', 'NOR', 'SUI', 'SWE',
       'USA', 'GER', 'TCH', 'HUN', 'ITA', 'FRG', 'NED', 'EUA', 'JPN',
       'POL', 'URS', 'PRK', 'GDR', 'ROU', 'ESP', 'LIE', 'BUL', 'YUG',
       'CHN', 'EUN', 'KOR', 'LUX', 'NZL', 'AUS', 'BLR', 'KAZ', 'RUS',
       'SLO', 'UKR', 'UZB', 'CZE', 'DEN', 'CRO', 'EST', 'LAT', 'SVK'],
      dtype=object)

In [ ]:
data.groupbg(["NOC","Year"])["medals"],count()

AttributeError: ignored