<a href="https://colab.research.google.com/github/thanhphap059/NguyenThanhPhap19146230/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from openpyxl import Workbook
wb= Workbook()
Sheet =wb.active
Sheet['A1']='Hello'
Sheet['B1']='world'
Sheet['A2']='0123456'
Sheet['B2']=123456
wb.save('test.xlsx')

In [ ]:
import openpyxl
Wb=openpyxl.load_workbook('test.xlsx')
Sheet=Wb.active
t1=Sheet['A1']
t2=Sheet['B1']
t3=Sheet.cell(row=2,column=1)
t4=Sheet.cell(row=2,column=2)
print(t1.value,t2.value,t3.value,t4.value)

Hello world 0123456 123456

In [ ]:
import openpyxl
Wb=openpyxl.Workbook()
Sheet=Wb.active
C1=Sheet.cell(row=1,column=1)
C1.value='Nguyen Van A'
C2=Sheet.cell(row=1,column=2)
C1.value='19146001'
C3=Sheet['A2']
C1.value='Le Van B'
C4=Sheet['B2']
C4.value='19146002'
Wb.save('test.xlsx')

In [ ]:
Wb= openpyxl.load_workbook('example.xlsx')
Sheet=Wb.active
hang=Sheet.max_row
for i in range(1,hang+1):
  cell_ob=Sheet.cell(row=i,column=1)
  print(cell_ob.value)

Hello
World!
41.8
10

In [ ]:
import datetime
thoigian=datetime.datetime.now()
print(thoigian)

2022-03-12 11:12:26.608974

**văn bản in đậm**

In [ ]:
import datetime
from datetime import date
today=date.today()
print('Hôm nay là ngày','tháng',today.month,'nam',today.year)

Hôm nay là ngày tháng 3 nam 2022

In [ ]:
import time
thoigian=time.localtime(time.time())
print(thoigian)

time.struct_time(tm_year=2022, tm_mon=3, tm_mday=12, tm_hour=11, tm_min=16, tm_sec=48, tm_wday=5, tm_yday=71, tm_isdst=0)

In [ ]:
import calendar
cal= calendar.month(2023,2)
print(cal)

   February 2023
We Th Fr Sa Su Mo Tu
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28

In [ ]:
calendar.monthrange(2023,2)

(2, 28)

In [ ]:
calendar.prcal(2001,w=2,l=1,c=6)
calendar.prmonth(2001,2,w=2,l=1)
calendar.setfirstweekday(2)

                                  2001

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7                1  2  3  4                1  2  3  4
 8  9 10 11 12 13 14       5  6  7  8  9 10 11       5  6  7  8  9 10 11
15 16 17 18 19 20 21      12 13 14 15 16 17 18      12 13 14 15 16 17 18
22 23 24 25 26 27 28      19 20 21 22 23 24 25      19 20 21 22 23 24 25
29 30 31                  26 27 28                  26 27 28 29 30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1          1  2  3  4  5  6                   1  2  3
 2  3  4  5  6  7  8       7  8  9 10 11 12 13       4  5  6  7  8  9 10
 9 10 11 12 13 14 15      14 15 16 17 18 19 20      11 12 13 14 15 16 17
16 17 18 19 20 21 22      21 22 23 24 25 26 27      18 19 20 21 22 23 24
23 24 25 26 27 28 29      28 29 30 31               25 26 27 28 29 30
30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1             1  2  3  4  5                      1  2
 2  3  4  5  6  7  8       6  7  8  9 10 11 12       3  4  5  6  7  8  9
 9 10 11 12 13 14 15      13 14 15 16 17 18 19      10 11 12 13 14 15 16
16 17 18 19 20 21 22      20 21 22 23 24 25 26      17 18 19 20 21 22 23
23 24 25 26 27 28 29      27 28 29 30 31            24 25 26 27 28 29 30
30 31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7                1  2  3  4                      1  2
 8  9 10 11 12 13 14       5  6  7  8  9 10 11       3  4  5  6  7  8  9
15 16 17 18 19 20 21      12 13 14 15 16 17 18      10 11 12 13 14 15 16
22 23 24 25 26 27 28      19 20 21 22 23 24 25      17 18 19 20 21 22 23
29 30 31                  26 27 28 29 30            24 25 26 27 28 29 30
                                                    31
   February 2001
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28

In [ ]:
calendar.prcal(2001,w=2,l=1,c=6)

                                  2001

      January                   February                   March
We Th Fr Sa Su Mo Tu      We Th Fr Sa Su Mo Tu      We Th Fr Sa Su Mo Tu
                1  2          1  2  3  4  5  6          1  2  3  4  5  6
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       7  8  9 10 11 12 13
10 11 12 13 14 15 16      14 15 16 17 18 19 20      14 15 16 17 18 19 20
17 18 19 20 21 22 23      21 22 23 24 25 26 27      21 22 23 24 25 26 27
24 25 26 27 28 29 30      28                        28 29 30 31
31

       April                      May                       June
We Th Fr Sa Su Mo Tu      We Th Fr Sa Su Mo Tu      We Th Fr Sa Su Mo Tu
             1  2  3                         1             1  2  3  4  5
 4  5  6  7  8  9 10       2  3  4  5  6  7  8       6  7  8  9 10 11 12
11 12 13 14 15 16 17       9 10 11 12 13 14 15      13 14 15 16 17 18 19
18 19 20 21 22 23 24      16 17 18 19 20 21 22      20 21 22 23 24 25 26
25 26 27 28 29 30         23 24 25 26 27 28 29      27 28 29 30
                          30 31

        July                     August                  September
We Th Fr Sa Su Mo Tu      We Th Fr Sa Su Mo Tu      We Th Fr Sa Su Mo Tu
             1  2  3       1  2  3  4  5  6  7                1  2  3  4
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       5  6  7  8  9 10 11
11 12 13 14 15 16 17      15 16 17 18 19 20 21      12 13 14 15 16 17 18
18 19 20 21 22 23 24      22 23 24 25 26 27 28      19 20 21 22 23 24 25
25 26 27 28 29 30 31      29 30 31                  26 27 28 29 30

      October                   November                  December
We Th Fr Sa Su Mo Tu      We Th Fr Sa Su Mo Tu      We Th Fr Sa Su Mo Tu
                1  2          1  2  3  4  5  6                1  2  3  4
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       5  6  7  8  9 10 11
10 11 12 13 14 15 16      14 15 16 17 18 19 20      12 13 14 15 16 17 18
17 18 19 20 21 22 23      21 22 23 24 25 26 27      19 20 21 22 23 24 25
24 25 26 27 28 29 30      28 29 30                  26 27 28 29 30 31
31

In [ ]:
calendar.prmonth(2001,2,w=2,l=1)

   February 2001
We Th Fr Sa Su Mo Tu
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28

In [ ]:
calendar.setfirstweekday(2)